h1 {
  color: gold;
  background-color: black;
}

#container {
  /* display: flex;
  flex: 1 1 auto; */
  /* flex-wrap: wrap; */
  max-width: 960px;
}

.row {
  display:flex;
}

.box {
  border: 2px solid gray;
  box-sizing: border-box;
  /* height: 240px; */
  /*width: 240px;*/
  flex: 1 1 auto;
}

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}